body {
  background-image: url(../css/pepperoni.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.results {
  display: none;
  text-align: center;
  border-radius: 15px;
  display: none;
  background-color: #843000;
  box-shadow: 5px 5px 2.5px #660000;
  padding: 15px;
  opacity: 0.9;
  margin-top: 15px;
  float: right;
}

#pizza {
  background-color: #F1980E;
  box-shadow: 5px 5px 2.5px #660000;
  border: 1px solid;
  border-radius: 15px;
  border-color: #8C873E;
  width: 500px;
  padding: 15px;
  opacity: 0.9;
  text-align: center;
  float:left;
}

h4 {
  text-align: left;
  padding-bottom: 10px;
}

h3 {
  color: white;
}

h1 {
  background: #660000;
  color: white;
  border-radius: 15px;
  padding: 15px;
}

p {
  color: white;
}
